
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.container {
  border: 5px solid red;
  width: 90%;
  margin: auto;
}

div.main {
  background-color: burlywood;
  border: 5px solid rgb(12, 230, 19);
  width: 100%;
  margin: auto;
  padding: 3px;

}
header {
  background-color: cornflowerblue;
}
.text1{
  background-color: lemonchiffon;
  color: black;
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
  font-style: italic;  
  padding: 30px 30px 30px 30px;
}

.left img {
  padding: 10px;
  width: 40%;
  height: 100%;
  float: left; margin: 0px 0px 0px 0px;
}
.right img{
  width: 80%;
  height: auto;
  padding: 100px 50px 0px 50px;
}

ul{
  text-align: center;
}
li{
  display: inline-block;
  width: 150px;
  border: 2px solid black;
  line-height: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
}
a{
  color: solid black;
  text-decoration: none;
  border: 1px solid red;
  display: block;
}
aside{
  display: flex;
}