
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 90%;
  
}
.page {
  width: 120px;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
}
.h1pos{
  margin: 2px;
}
.h1_nav{
  text-align: center;
}
.h1, .navloc {
    display: flex;
    flex: wrap;
}
.navloc {
    margin-left: 100px;
    display: flex;
}
.movnav {
    text-align: center;
}
.movnav li{
    align-content: bottom;
    display: inline-block;
    width: 150px;
    line-height: em;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid black;
}
a{
    text-decoration: none;
    display:block; 
}
.container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 90%;
  height:80%;
  }
  .left {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 20px 30px 20px;
}
  .left img {
  width: 80%;
  height: auto;
}
.right {
width: 45%;
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 30px 20px 30px 20px;
}
#home-page {
  margin: 0px 0px 0px 160px;
}
#aboutus-page {
    margin: 0px 0px 0px 200px;
}
#under_construction {
  color: red;
}
#home-p {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size:20px;
  font-style: italic;  
  padding: 5px 0px 5px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#recipes-p {
  border: 2px solid black;
  border-radius: 10px;
  color: red;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 35px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#Hol_Seasons-p {
  border: 2px solid black;
  border-radius: 10px;
  color: red;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 35px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#HealthyFoods-p {
  border: 2px solid black;
  border-radius: 10px;
  color: red;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 35px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#aboutus-p {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 40px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.right h1 {
  margin: 0px 0px 0px 140px;
}
#home-rt-img {
display:flex;
width: 100%;
}
  #home-rt-img  img{
    width: 100%;
    height: 300px;
    margin-top: 45px;
  }
  #Recipes-rt-img {
    display:flex;
    width: 100%;
  }
  #Recipes-rt-img img {
    width: 100%;
    height: 300px;
    margin-top: 115px;
  }
  #hol_seasons-rt-img {
    display:flex;
    width: 100%;
  }
#hol_seasons-rt-img img {
  width: 100%;
    height: 300px;
    margin-top: 120px;
}
#healthy_foods-rt-img {
  display:flex;
    width: 100%;
}
#healthy_foods-rt-img img {
  width: 100%;
    height: 300px;
    margin-top: 120px;
}
#aboutus-rt-img {
  display:flex;
    width: 100%;
}
#aboutus-rt-img img {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

  footer {
    color:black;
    margin: auto;
    height: 40px;
    font-size: large;
    padding: 5px 0px 5px 20px;
    width: 80%;
  }
  .contact {
    display: flex;
    gap: 40px;
    
  }
  .contact li {
    display: inline-block;
    width: auto;
    line-height: em;
    font-family: Arial, Helvetica, sans-serif;
    }