
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top img {
  padding: 0px;
  width: 8%;
  height: auto;
  float: left; margin: 0px 0px 0px 0px;
}
div.container {
  border: 5px solid red;
  width: 90%;
  margin: auto;
}
.top h1 {
  padding: 30px 0px 0px 0px;
}
div.main {
  background-color:bisque;
  border: 5px solid rgb(12, 230, 19);
  width: 100%;
  padding: 3px;

}
/* title of web page positioning */
header {
  background-color:none;
  height: 75px;
}
.text1{
  background-color: lemonchiffon;
  color: black;
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
  font-style: italic;  
  padding: 30px 30px 30px 30px;
}

.left img {
  padding: 10px;
  width: 40%;
  height: 100%;
  float: left; margin: 0px 0px 0px 0px;
}
/*many hours and many attempts to keep each page to display the same size. I finally solved my issue. I Changed the 'height property' to pixels. I kept using 'auto' and '%' */
.right img{
  width: 80%;
  height: 500px;
  padding: 100px 50px 0px 50px;
  
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  width: 150px;
  border: 2px solid black;
  line-height: em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
}
a{
  color: solid black;
  text-decoration: none;
  border: 1px solid red;
  display:block;
}
aside{
  display: flex;
}
container-height {
  height: 100%
}
